<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Helios Farm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#contact-us">Contact Us</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<header class="header-area overlay">

<div class="banner">
  <div class="container">
    <p>Welcome to the place where natural is born</p>
    <a href="#about" class="button button-primary">Learn More</a>
  </div>
</div>
</header>
<div class="about"><app-about></app-about></div>
<div class="products"><app-products></app-products></div>
<div class="footer"><app-footer></app-footer></div>




